@font-face {
    font-family: SFAlien;
    src: url('../fonts/SFAlienEncounters.ttf') format('ttf');
}

@font-face {
    font-family: SFAlien-Solid;
    src: url('../fonts/SFAlienEncountersSolid.ttf');
}

@font-face {
    font-family: VT323;
    src: url('../fonts/VT323.ttf');
}