.font-logo {
    font-family: $font-family-sf-aliens;
    font-size: medium;
    font-weight: normal;
}

.font-display {
    font-family: $font-family-sf-aliens-solid;
}

.font-body {
    font-family: $font-family-vt323;
}